In [1]:
import pandas as pd
import re
import spacy
from spacy.util import minibatch, compounding
import random
from spacy import displacy
spacy.prefer_gpu()

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [3]:
df = pd.read_json (r'/content/drive/MyDrive/Entity Recognition in Resumes.json',lines=True)
df

                                               content  ... extras
0    Abhishek Jha\nApplication Development Associat...  ...    NaN
1    Afreen Jamadar\nActive member of IIIT Committe...  ...    NaN
2    Akhil Yadav Polemaina\nHyderabad, Telangana - ...  ...    NaN
3    Alok Khandai\nOperational Analyst (SQL DBA) En...  ...    NaN
4    Ananya Chavan\nlecturer - oracle tutorials\n\n...  ...    NaN
..                                                 ...  ...    ...
215  Mansi Thanki\nStudent\n\nJamnagar, Gujarat - E...  ...    NaN
216  Anil Kumar\nMicrosoft Azure (Basic Management)...  ...    NaN
217  Siddharth Choudhary\nMicrosoft Office Suite - ...  ...    NaN
218  Valarmathi Dhandapani\nInvestment Banking Oper...  ...    NaN
219  Pradeep Kumar\nSecurity Analyst in Infosys - C...  ...    NaN

[220 rows x 3 columns]

# Подготовка данных для Spacy

In [4]:
entity_dict = {
    'Name': "PERSON", 
    'Companies worked at': "ORGANIZATION",
    'Skills': "SKILLS",
    'Location': "LOCATION",
    'Graduation Year': 'DATE',
    'Years of Experience': 'DATE',
}

In [5]:
def mergeIntervals(intervals):
    sorted_by_lower_bound = sorted(intervals, key=lambda tup: tup[0])
    merged = []

    for higher in sorted_by_lower_bound:
        if not merged:
            merged.append(higher)
        else:
            lower = merged[-1]
            if higher[0] <= lower[1]:
                if lower[2] is higher[2]:
                    upper_bound = max(lower[1], higher[1])
                    merged[-1] = (lower[0], upper_bound, lower[2])
                else:
                    if lower[1] > higher[1]:
                        merged[-1] = lower
                    else:
                        merged[-1] = (lower[0], higher[1], higher[2])
            else:
                merged.append(higher)

    return merged

In [6]:
def get_entities(df):
    
    entities = []
    
    for i in range(len(df)):
        entity = []
    
        for annot in df['annotation'][i]:
            try:
                ent = entity_dict[annot['label'][0]]
                start = annot['points'][0]['start']
                end = annot['points'][0]['end'] + 1
                entity.append((start, end, ent))
            except:
                pass
    
        entity = mergeIntervals(entity)
        entities.append(entity)
    
    return entities

In [7]:
df['entities'] = get_entities(df)
df.head()

                                             content  ...                                           entities
0  Abhishek Jha\nApplication Development Associat...  ...  [(0, 12, PERSON), (49, 58, ORGANIZATION), (60,...
1  Afreen Jamadar\nActive member of IIIT Committe...  ...  [(0, 14, PERSON), (62, 68, LOCATION), (625, 63...
2  Akhil Yadav Polemaina\nHyderabad, Telangana - ...  ...  [(0, 21, PERSON), (22, 31, LOCATION), (764, 77...
3  Alok Khandai\nOperational Analyst (SQL DBA) En...  ...  [(0, 12, PERSON), (54, 60, ORGANIZATION), (62,...
4  Ananya Chavan\nlecturer - oracle tutorials\n\n...  ...  [(0, 13, PERSON), (24, 41, ORGANIZATION), (43,...

[5 rows x 4 columns]

In [8]:
df = df.drop(['extras'], axis=1)
df = df.drop(['annotation'], axis=1)
df.head()

                                             content                                           entities
0  Abhishek Jha\nApplication Development Associat...  [(0, 12, PERSON), (49, 58, ORGANIZATION), (60,...
1  Afreen Jamadar\nActive member of IIIT Committe...  [(0, 14, PERSON), (62, 68, LOCATION), (625, 63...
2  Akhil Yadav Polemaina\nHyderabad, Telangana - ...  [(0, 21, PERSON), (22, 31, LOCATION), (764, 77...
3  Alok Khandai\nOperational Analyst (SQL DBA) En...  [(0, 12, PERSON), (54, 60, ORGANIZATION), (62,...
4  Ananya Chavan\nlecturer - oracle tutorials\n\n...  [(0, 13, PERSON), (24, 41, ORGANIZATION), (43,...

In [9]:
TRAIN_DATA =[]
for col in df.iloc:
  TRAIN_DATA.append((col['content'], {'entities': col['entities']}))

In [10]:
def trim_entity_spans(data: list) -> list:
    """Removes leading and trailing white spaces from entity spans.

    Args:
        data (list): The data to be cleaned in spaCy JSON format.

    Returns:
        list: The cleaned data.
    """
    invalid_span_tokens = re.compile(r'\s')

    cleaned_data = []
    for text, annotations in data:
        entities = annotations['entities']
        valid_entities = []
        for start, end, label in entities:
            valid_start = start
            valid_end = end
            while valid_start < len(text) and invalid_span_tokens.match(
                    text[valid_start]):
                valid_start += 1
            while valid_end > 1 and invalid_span_tokens.match(
                    text[valid_end - 1]):
                valid_end -= 1
            valid_entities.append([valid_start, valid_end, label])
        cleaned_data.append([text, {'entities': valid_entities}])

    return cleaned_data

TRAIN_DATA = trim_entity_spans(TRAIN_DATA)

#Обучение

In [11]:
pip install spacy

Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (2.2.4)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.5)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (7.4.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.5)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.5)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.5)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.41.1)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.19.5)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.8.2)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.1.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy) (56.0.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy) (3.10.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy) (3.4.1)

In [12]:
def create_blank_nlp(train_data):
    nlp = spacy.blank("en")
    ner = nlp.create_pipe("ner")
    nlp.add_pipe(ner, last=True)
    ner = nlp.get_pipe("ner")
    for _, annotations in train_data:
        for ent in annotations.get("entities"):
            ner.add_label(ent[2])
    return nlp

In [13]:
nlp = create_blank_nlp(TRAIN_DATA)
optimizer = nlp.begin_training()
for i in range(10):
    losses = {}
    batches = minibatch(TRAIN_DATA, size=compounding(4.0, 32.0, 1.001))
    for batch in batches:
        texts, annotations = zip(*batch)
        nlp.update(texts, annotations, sgd = optimizer, drop=0.1, losses=losses)
    print(f"Эпоха {i}, ошибка: {losses}")

Эпоха 0, ошибка: {'ner': 30090.95131472824}
Эпоха 1, ошибка: {'ner': 14024.250839699691}
Эпоха 2, ошибка: {'ner': 9460.907696839828}
Эпоха 3, ошибка: {'ner': 9174.933850395106}
Эпоха 4, ошибка: {'ner': 14237.91988391488}
Эпоха 5, ошибка: {'ner': 8048.455585885071}
Эпоха 6, ошибка: {'ner': 10524.437786284163}
Эпоха 7, ошибка: {'ner': 13363.175489177158}
Эпоха 8, ошибка: {'ner': 7063.032096710016}
Эпоха 9, ошибка: {'ner': 9237.514056494154}

In [14]:
doc = nlp("Bob Ross lived in Florida knows Python, C#, Java and wants 1000 dollars, he worked in Google")
displacy.render(doc, style="ent", jupyter=True)

In [15]:
nlp.to_disk("NLP_model")

In [16]:
nlp = spacy.load("en_core_web_sm")
doc = nlp("Bob Ross lived in Florida knows Python, C#, Java and wants 1000 dollars, he worked in Google")
displacy.render(doc, style="ent", jupyter=True)